<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>about us</title>
</head>
<body>
<h4>a definition of DVD from Wikipedia </h4>
<p>
    The DVD (common abbreviation for Digital Video Disc or Digital Versatile Disc)  is a digital optical disc data storage format.<br>
    It was invented and developed in 1995 and released on November 1, 1996, in Japan. Allowing up to 17.08 GB of storage,the medium <br>
    can store any kind of digital data and was widely used for software and other computer files as well as video programs watched using DVD players.<br>
    DVDs offer significantly higher storage capacity than compact discs while having the same dimensions. However, as with CDs, the information and data storage <br>
    will begin to degrade over time with most standard DVDs lasting up to 30 years depending the type of environment they are stored and whether they are full with data.
</p>

</body>
</html>